*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    > ul > li, > div > ul > li {
        display: inline-block;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
