$grid: (
    max-width: 1160px,
    gutter: 1em
) !default;

.container {
    // Dimensions
    max-width: get($grid, max-width);

    // Positioning
    padding-left: get($grid, gutter) / 2;
    padding-right: get($grid, gutter) / 2;;
    margin: 0 auto;

    // Clearfix
    overflow: hidden;
}

.column {
    // Positioning
    float: left;

    @include bp {
        // Dimensions
        padding-left: get($grid, gutter) / 2;
        padding-right: get($grid, gutter) / 2;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.one-third {
    width: 100%;

    @include bp {
        width: (100% / 3);
    }
}

.two-thirds {
    width: 100%;

    @include bp {
        width: (100% / 3) * 2;
    }
}

