$bg-color: green;

@function bg-color() {
    @return $bg-color;
}

%square {
    width: 100px;
    height: 100px;
    float: left;
}

.square1 {
    @extend %square;
    background-color: $bg-color;
}

.square2 {
    @extend %square;
    background-color: bg-color();
}

.square3 {
    $bg-color: orange;
    @extend %square;
    background-color: $bg-color;
}

.square4 {
    $bg-color: blue !global;
    @extend %square;
    background-color: bg-color();
}

.square5 {
    $bg-color: red !global;
    @extend %square;
    background-color: bg-color();
}
