.main-header {
    overflow: hidden;

    &-title {
        @include bp {
            margin-top: ($spacing * 0.4);
            line-height: ($spacing * 1.5);
        }
    }
}

.main-header-inner {
    padding: $spacing / 2;

    &-left {
        @include span(12);

        @include bp {
            @include span(8);
        }
    }

    &-right {
        @include span(12);

        @include bp {
            @include span(4 last);

            padding-top: $spacing * 1.4;
        }
    }
}
