// Mixin for creating the media-container. Simply adds padding and a clearfix.
@mixin media-container($spacing: 1em) {
  padding: $spacing;
  overflow: hidden;
}

// Mixin for creating the media-image.
@mixin media-image($img-align: left, $spacing: 1em) {
  display: block;
  float: $img-align;

  @if ($img-align == unquote(right)) {
    margin-left: $spacing;
  } @else if ($img-align == unquote(left)) {
    margin-right: $spacing;
  } @else {
    margin: 0 auto;
  }
}

// Mixin for creating the media-title and link style. Useful if we need to modify the defaults for more control
@mixin media-title($color: black, $link-color: inherit, $link-hover-color: inherit, $text-transform: uppercase) {
  margin-top: 0;
  text-transform: $text-transform;
  color: $color;

  a {
    @include hover-link;

    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

// Mixin for creating the media-button. Useful if we need to modify the defaults for more control
@mixin media-button($img-align: left, $spacing: 1em, $background-color: black, $text-color: white, $border-width: 1px, $text-transform: uppercase) {
  display: inline-block;
  padding: ($spacing * 0.25) ($spacing * 0.5);
  text-transform: $text-transform;
  text-decoration: none;
  color: $text-color;
  background-color: $background-color;
  border: $border-width solid transparent;

  @if ($img-align == unquote(none)) {
    float: none;
  } @else if ($img-align == unquote(left) or $img-align == unquote(right)) {
    float: if($img-align == left, right, left);
  } @else {
    @warn 'First parameter of `media-button` mixin must be `left` or `right`. `#{$img-align}` given.';
  }

  &:hover {
    color: $background-color;
    background: transparent;
    border: $border-width solid;
  }
}

// ------------------------------------------------------------
// MEDIA COMPONENT
// ------------------------------------------------------------
// We will create a reusable mixin based loosely on the media
// mixin from OOCSS.
@mixin media($img-align: left, $spacing: 1em, $color: black) {
  @include media-container($spacing);

  &-image {
    @include media-image($img-align, $spacing);
  }

  &-title {
    @include media-title($color);
  }

  &-button {
    @include media-button($img-align, $spacing, $color);
  }
}

// ------------------------------------------------------------
// MEDIA COMPONENT: CENTERED
// ------------------------------------------------------------
// We will create a centred media mixin
@mixin media-centered($img: fullwidth, $spacing: 1em, $color: black) {
  @include media-container($spacing);

  text-align: center;

  &-image {
    @include media-image(none, $spacing);

    @if ($img == unquote(fullwidth)) {
      width: 100%;
      height: auto;
    } @else if ($img == unquote(rounded)) {
      border-radius: 9999px;
    } @else {
      @warn 'First parameter of `media-centered` mixin must be `fullwidth` or `rounded`. `#{$img}` given.';
    }
  }

  &-title {
    @include media-title($color);

    margin-top: $spacing;
  }

  &-button {
    @include media-button(none, $spacing, $color);
  }
}
